<h1>Catálogos de códigos-fonte</h1>

<% if @client.blank? %>
<div class="">
	Você não possui clientes cadastrados.
	<%= link_to 'Cadastre o primeiro', { :action => 'new', :controller => 'clients' } %>.
</div>
<% else %>
	
	<p>
		Selecione um dos clientes abaixo para visualizar seu catálogo de códigos-fontes.
	</p>
	<ul>
		<% @client.each { |e| %>
			<li><%= link_to e.name, { :controller => 'codecatalog', :action => 'index', :id => e.id.to_s } %></li>
		<% } %>
	</ul>
<% end %>