<% 
# AL: Infelizmente, em cada alteração em CSS ou JS, o servidor deve ser
# reiniciado para limpar o cache, o que dificulta o desenvolvimento.
# Colocando estes estilo inline facilita um pouco as coisas, embora
# seja muito sujo. Culpa do Redmine.
%>
<script>
function newFilter(){
	var searchFields = $$("#search_filters .fields")[0];
	searchFields.insert({
		bottom: $$("#search_filters_template .template")[0].cloneNode(true)
	});
}
document.observe("dom:loaded", function(){

	newFilter();
	
	Event.observe('add_filter', 'click', function(){
		newFilter();
	});

});
</script>
<style>
	#search_filters {
		padding: 10px;
		background: #eee;
		float: left;
	}
	.submit {
		display: table;
		margin: 5px 0 0 0;
	}
	#result {
		clear: both;
		display: table;
		width: 100%;
	}
	
</style>

<h2>Código catalogado</h2>

<%= link_to 'Novo código', new_client_source_code_path(params[:client_id]) %>

<br />
<br />
<div id="search_filters_template" style="display: none">
	
	<div class="template">
	<span class="field">
		<label>Filtro</label>
		<select name="search[field_name][]">
			<option value="source_name">Nome do arquivo</option>
			<option value="sourcecode_types.name">Tipo</option>
			<option value="complexity">Complexidade</option>
			<option value="tables_involved">Tabelas envolvidas</option>
			<option value="code_sector">Chamado de</option>
			<option value="called_from">Menu/Rotina</option>
			<option value="observation">Observações</option>
			<option value="active">Ativo</option>
		</select>
	</span>
	<span class="field">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<label>Termo buscado</label>
		<input type="text" name="search[query][]" />
	</span>
	</div>
	
</div>
<% unless @source.blank? %>
<div id="search_filters">
	
	<% form_remote_tag :url => search_client_source_codes_path, :update => "result" do -%>
		<div class="filters">
			<div class="fields">
			</div>
		</div>
		<a href="javascript: void(0)" id="add_filter">Novo filtro</a>
		<div class="submit">
			<%= submit_tag "Pesquisar" %>
		</div>
	<% end -%>
</div>
<% end %>
<div id="result">

<%= render :partial => 'listing' %>

</div>